label {
	display: inline-block;
	margin-top: 5px;
}

label.error {
	color: red;
	font-size:small;
}

input.error {
	border: 1px solid red;
	color: red;
}

select.error {
	border: 1px solid red;
	color: red;
}

input[type="radio"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #555555;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #555555;
} 